{% extends 'DEEPDB/main_base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block menu %}
<ul>
    <li><a href="/home/" accesskey="1" title="">사이트 소개</a></li>
    <li><a href="#" accesskey="2" title="">데이터베이스 배우기</a></li>
    <li><a href="/learn/" accesskey="3" title="">SQL 배우기</a></li>
    <li class="current_page_item"><a href="/quiz/" accesskey="5" title="">SQL Quiz</a></li>
    <li><a href="/quiz/" accesskey="6" title="">SQL 질문답변</a></li>
    <li><a href="#" accesskey="7" title="">SQL 해석기</a></li>
</ul>
{% endblock %}